@import "~react-notifications-component/dist/theme.css";
@import "~animate.css";
@import "~swagger-ui-react/swagger-ui.css";

.GeneralStyle {
  width: 100%;
}

.App {
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: white;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-intro {
  background-color: white;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
}



.App-footer {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.bg-white {
  background-color: indigo;
}
